body {
    font-size: 16px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
    .box {
        background-color: red;
    }
}

.box {
    background-color: blue;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}


@media (max-width: 800px) {
    .box {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .box {
        width: 50%;
        background-color: green;
    }
}
